* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(26, 163, 26);
}
html,
body {
  min-height: 100%;
  background-repeat: no-repeat;
}
body {
  background: linear-gradient(
    138deg,
    rgba(145, 45, 227, 1) 0%,
    rgba(42, 9, 108, 1) 100%
  );
  background: -moz-linear-gradient(
    138deg,
    rgba(145, 45, 227, 1) 0%,
    rgba(42, 9, 108, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(145, 45, 227, 1) 0%,
    rgba(42, 9, 108, 1) 100%
  );
  background: -o-linear-gradient(
    138deg,
    rgba(145, 45, 227, 1) 0%,
    rgba(42, 9, 108, 1) 100%
  );
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}
