.nav-bar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    a{
        display: inline-block;
        padding: 8px;
    &:hover{
        
    }
    }
    background:rgb(47, 0, 255);
    border-radius: 4px;
    line-height: 2rem;
    padding: 0 10px;
}